body {
	counter-reset: h1counter;
}
ul {
	margin-top: 0px;
	margin-bottom: 0px;
}
h1.count {
	counter-reset: h2counter;
	text-decoration: underline;
}
h2.count {
	counter-reset: h3counter;
	text-decoration: underline;
}
h1.count:before {
	content: none;
	counter-increment: none;
}
h1.count:before {
	counter-increment: h1counter;
	content: counter(h1counter) ".\0000a0\0000a0\0000a0";
}
h2.count:before {
	counter-increment: h2counter;
	content: counter(h1counter) "." counter(h2counter) ".\0000a0\0000a0\0000a0";
}
h3.count:before {
	counter-increment: h3counter;
	content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0\0000a0";
}
